body {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.orange-border {
    border: 2px solid orangered;
    padding: 5px;
    border-radius: 5px;
}

.p-class {
    background: #FFAB91;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
    text-align: center;
}
