body {
  margin: 0;
  font-size: 1.5rem;
}

img {
  width: 100%;
  height: auto;
}

section {
  margin-bottom: 30px;
}

.goods {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  border: 1px solid lightgray;
  border-radius: 10px;
}

.card h2, .card p {
  padding: 1rem;
}

/* .books {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
} */
