body {
    font-size: 1.5rem;
}

section {
    background: forestgreen;
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
}

.article p:first-child {
    background: lightgreen;
    border-radius: 10px;
    padding: 20px 10px;
}

.article p:last-child {
    padding: 20px 10px;
    display: none;
}

.article p:last-child.open {
    display: block;
}


#present_container {
    max-width: 700px;
    margin: 0 auto;
}

#present_container p {
    background: red;
    display: inline-block;
    margin: 10px;
    padding: 30px 5px;
    text-align: center;
    width: 200px;
    color: white;
}

#present_container .present {
    background-color: yellow;
    color: #333;
    transition-property: background-color;
    transition-duration: 1s;
}

body {
    height: 2000px;
    margin: 0;
}

.top-block {
    background-color: orangered;
    padding: 30px;
    text-align: center;
}

.fixed-block {
    padding: 20px 30px;
    background: orangered;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background: rgba(85, 85, 85, 0.7);
}
